 /*GENERAL*/

 :root {
     --color-one: black;
     --color-two: yellow;
     --color-three: silver;
     --color-four: rgb(99, 99, 99);
     --color-five: rgb(38, 38, 38);
     --color-six: rgb(78, 206, 144);
     --color-seven: gainsboro;
 }

 @font-face {
     font-family: "Lato-Regular";
     src: url("../fonts/Lato-Regular.ttf");
 }

 *,
 *:before,
 *:after {
     border: 0px;
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;

     /* Careful, this breaks the word wherever it is without a hyphen */
     overflow-wrap: break-word;
     word-wrap: break-word;

     /* Adds a hyphen where the word breaks */
     -webkit-hyphens: auto;
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     hyphens: auto;

 }

 *,
 *:before,
 *:after {
     border: 0px;
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
     -webkit-appearance: none;
 }

 :focus {
     outline: none;
 }

 ::-moz-focus-inner {
     border: 0;
 }


 html,
 body {
     font-family: "Lato-Regular";
     font-weight: 100;
     position: relative;
     margin: 0px;
     padding: 0px;
     font-size: 1.0rem;
     line-height: 1.4rem;
     max-height: 100%;
     max-width: 100%;
     height: 100%;
     width: 100%;
     overflow: auto;
     background: black;
 }

 h1 {
     font-size: 1rem;
 }

 img {
     max-width: 90vw;
     height: auto;
     display: block;
 }

 img[src=""] {
     display: none;
 }

 /*///////////////////////////
///HELPER////////////////*/

 div#toast {
     position: fixed;
     height: auto;
     top: -100px;
     background: black;
     color: white;
     z-index: 6;
     min-width: 100%;
     padding: 5px;
     text-align: center;
 }


 /*///////////////////////////
///FEED////////////////*/

 div#options {
     display: none;
     background: var(--color-four);
     position: fixed;
     top: 0;
     z-index: 4;
 }

 div#options ul li {
     background: var(--color-three);
     color: white;
     padding: 5px;
     margin: 0 0 10px 0;

 }


 div#options ul li:focus {
     color: black;


 }

 div#news-feed {
     position: relative;
     background: black;
     color: black;
     max-height: 90vh;
     width: 100vw;
     font-weight: normal;

 }

 div#news-feed div#news-feed-list {
     min-height: 100vh;
     width: 100%;
     min-width: 100%;
     padding: 30px 0 50px 0;

 }

 div#news-feed div#news-feed-list article {
     padding: 5px 5px 10px 5px;
     font-weight: normal;
     background: white;
 }

 div#news-feed div#news-feed-list article div.summary img {
     max-width: 220px !important;
 }


 div#news-feed div#news-feed-list article[data-read="read"] {

     font-style: italic;
     color: gray;
 }

 div#news-feed div#news-feed-list article[data-read="not-read"] {

     font-style: normal;

 }

 div#news-feed div#news-feed-list article:focus {
     background: silver;
 }

 div#news-feed div#news-feed-list article h1 {
     font-size: 1rem;
     font-weight: bold;
 }

 div#news-feed div#news-feed-list article time {
     font-size: 0.8rem;
 }

 div#news-feed div#news-feed-list article div.duration-filesize {
     font-size: 0.8rem;
     display: none;

 }


 div#news-feed div#news-feed-list article div.duration-filesize div {
     font-size: 0.8rem;

 }

 div#news-feed div#news-feed-list article div.duration {
     margin: 0 10px 0 0;

 }


 div#news-feed div#news-feed-list article div.filesize {
     margin: 0 10px 0 0;
     display: none;

 }


 article[data-media*="podcast"] div.duration-filesize {
     display: flex !Important;
     display: -webkit-flex !Important;
 }

 article[data-media*="podcast"] div.duration-filesize:empty {
     display: none;
 }



 div#news-feed div#news-feed-list article div.summary {
     display: none;
     padding: 0 0 30px 0;
 }

 div#news-feed div#news-feed-list article div.podcast-icon {
     display: none;
 }

 div#news-feed div#news-feed-list article[data-media*="podcast"] div.podcast-icon {
     display: block;
     max-width: 15px;
 }

 div#news-feed div#news-feed-list article[data-media*="podcast"] div.podcast-icon img {
     max-width: 15px;
 }

 div#news-feed div#news-feed-list article div.youtube-icon {
     display: none;
 }

 div#news-feed div#news-feed-list article[data-media*="youtube"] div.youtube-icon {
     display: block;
     max-width: 15px;
 }

 div#news-feed div#news-feed-list article[data-media*="youtube"] div.youtube-icon img {
     max-width: 15px;
 }

 div#source-page {
     display: none;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 3;
     background: white;
     min-height: 100vh;
     width: 101vw;
 }

 div#source-page div#iframe-wrapper {
     position: relative;
     padding-bottom: 56.25%;
     /* ratio 16x9 */
     height: 0;
     width: 100%;
 }

 div#source-page iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     overflow: scroll;
 }

 div#source-page div.video-view>iframe {
     width: 320px !Important;
     height: 240px !Important;
 }

 div#source-page div.video-view {
     transform: rotate(90deg);
     position: relative !Important;
     left: -40px !Important;
     top: 40px !Important;
     width: 320px !Important;
     height: 240px !Important;
 }

 /*/////////////////
///BOTTOM BAR////
////////////////*/

 div#bottom-bar {
     position: fixed;
     z-index: 2000;
     bottom: 10px;
     left: 0px;
     height: 18px;
     z-index: 6;
     background: black;
     min-width: 100vw;
 }

 div#bottom-bar div#inner {
     position: relative;
 }

 div#bottom-bar div {
     background: black;
     color: white;
     padding: 2px;
 }

 div#bottom-bar div#button-center {
     background: black;
     color: white;
     padding: 2px;
     width: 30%;
     text-align: center;
 }

 div#bottom-bar div#button-left {
     background: black;
     color: white;
     padding: 2px;
     width: 20px;
     text-align: left;
     width: 30%;
 }

 div#bottom-bar div#button-right {
     background: black;
     color: white;
     padding: 2px;
     width: 30%;
     text-align: right;
 }


 /*/////////////////
///TOP-BAR///////*/

 div#top-bar {
     position: fixed;
     top: 0px;
     left: 0px;
     height: 18px;
     z-index: 4;
     background: black;
     min-width: 100vw;
     display: none;
 }

 div#top-bar div#inner {
     position: relative;
 }

 div#top-bar div {
     background: black;
     color: white;
     padding: 2px;
 }

 div#top-bar div#button-center {
     background: black;
     color: white;
     padding: 2px;
     width: 30%;
     text-align: center;
 }

 div#top-bar div#button-left {
     background: black;
     color: white;
     padding: 2px;
     width: 20px;
     text-align: left;
     width: 30%;
 }

 div#top-bar div#button-right {
     background: black;
     color: white;
     padding: 2px;
     width: 30%;
     text-align: right;
 }


 /*INTRO*/

 div#message-box {
     display: block;
     position: fixed;
     top: 0px;
     left: 0px;
     min-width: 100%;
     height: 100%;
     background: black;
     color: white;
     z-index: 5;
     display: block;
 }

 div#message-box div {
     margin: 100px 0 0 0;
     animation-name: colorAnimation;
     animation-duration: 2s;
     animation-timing-function: ease-out;
     animation-fill-mode: forwards;
     animation-iteration-count: infinite;
     max-width: 70%;
     text-align: center;
 }

 div#count {
     font-size: 8px;
     color: white !Important;
     position: fixed;
     bottom: 15px;
 }



 @keyframes colorAnimation {
     0% {
         color: orange;
     }

     50% {
         color: yellow;
     }

     100% {
         color: orange;
     }
 }

 /*
 SETTINGS
 */

 div#top {
     position: fixed;
     top: 0;
 }

 div#settings {
     display: none;
     background: gray;
     padding: 15px 5px 185px 5px;
     margin: 0 0 150px 0;
     height: 92%;
     position: fixed;
     top: 0;
     z-index: 3;
     overflow: scroll !important;
 }

 div#settings div#text {
     margin: 0 0 20px 0;
 }

 div#settings div#nextdownload {
     position: fixed;
     z-index: 10;
     bottom: 25px;
     right: 15px;
     font-size: 8px;
     color: white;
 }

 div#settings label {
     min-width: 80%;
     height: 30px;
     margin: 5px 5px 0 0;
 }

 div#settings div#input-wrapper {
     margin: 0 0 0px 0;
 }

 div#settings input {
     width: 80%;
     height: 30px;
     font-size: 1rem;
     border: 2px solid black;
     margin: 0 0 25px 0;
     padding: 3px;
     display: block;
 }

 /* AUDIO */

 .audio-playing {
     background: rgba(109, 231, 119, 0.6) !Important;
 }



 #goodbye {
     position: fixed;
     z-index: 5;
     left: 0;
     top: 0;
     background: black;
     color: white;
     font-size: 18px;
     padding: 70px 5px 5px 5px;
     display: none;
 }

 #ciao {
     padding: 5px;
     text-align: center;
     display: none;
 }

 #ciao ul {
     margin: 20px 0 0px 0;
 }

 #ciao ul li {
     margin: 0 0 0px 0;
     font-size: 14px;
     list-style: none;
 }

 #ciao ul li:first-child {
     color: yellow;
     margin: 0 0 5px 0;
 }

 #donation {
     padding: 5px;
     text-align: center;
     display: none;
 }






 .overscrolling {
     /* Start the shake animation and make the animation last for 0.5 seconds */
     animation: jump 0.5s;

     /* When the animation is finished, start again */

     animation-iteration-count: 1;

 }

 @keyframes shake {
     0% {
         transform: translate(1px, 1px) rotate(0deg);
     }

     10% {
         transform: translate(-1px, -2px) rotate(-1deg);
     }

     20% {
         transform: translate(-3px, 0px) rotate(1deg);
     }

     30% {
         transform: translate(3px, 2px) rotate(0deg);
     }

     40% {
         transform: translate(1px, -1px) rotate(1deg);
     }

     50% {
         transform: translate(-1px, 2px) rotate(-1deg);
     }

     60% {
         transform: translate(-3px, 1px) rotate(0deg);
     }

     70% {
         transform: translate(3px, 1px) rotate(-1deg);
     }

     80% {
         transform: translate(-1px, -1px) rotate(1deg);
     }

     90% {
         transform: translate(1px, 2px) rotate(0deg);
     }

     100% {
         transform: translate(1px, -2px) rotate(-1deg);
     }
 }


 @keyframes jump {
     0% {
         transform: translateY(0);
     }

     100% {
         transform: translateY(-30px);
     }
 }