/*GENERAL*/

:root {
  --color-one: black;
  --color-two: yellow;
  --color-three: silver;
  --color-four: rgb(190, 185, 185);
  --color-five: rgba(214, 225, 228, 0.322);
  --color-seven: rgba(101, 216, 24, 0.288);
  --color-eight: rgba(47, 82, 196, 0.188);
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

*,
*:before,
*:after {
  border: 0px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  /* Careful, this breaks the word wherever it is without a hyphen */
  overflow-wrap: break-word;
  word-wrap: break-word;
  scroll-behavior: smooth;
  /* Adds a hyphen where the word breaks */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

::-webkit-scrollbar {
  display: none !important;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.debug {
  outline: 1px solid red;
}

html,
body {
  font-family: "Roboto" !important;
  font-weight: 400;
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 1.1rem;
  line-height: 1.4rem;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  background: white;
}

#app {
  position: relative;
  height: 100%;
  min-width: 50vw;
  width: 50vw;
  overflow: scroll;
}

#wrapper {
  min-height: 90vh;
  max-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: scroll;
  padding: 20px 0 0 0;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 1.1rem;
  width: 100%;
  margin: 0 0 10px 0;
}

h3 {
  font-size: 1rem;
}

time {
  font-size: 0.8rem;
}

label {
  font-weight: bold;
}

article img {
  width: 100%;
  height: auto;
  display: block;
  padding: 10px;
}

img[src=""] {
  display: none;
}

img[src=" "] {
  display: none;
}

button {
  font-size: 1rem;
  background: rgb(255, 255, 255);
  min-width: 93%;
  max-width: 90%;

  padding: 5px;
  margin: 0px 0 15px 5px;
  color: black;
  border-radius: 10px;
  border: 2px solid gray;
  font-weight: 700;
  min-height: 40px;
  font-family: "Roboto" !important;
}
button:focus {
  background: orange;
  border: 0px solid gray;
}

button:hover {
  background: orange;
  border: 0px solid gray;
}

a.button-style {
  font-size: 1rem;
  background: rgb(255, 255, 255);
  width: 95%;
  padding: 5px;
  margin: 10px 0 15px 0px;
  color: black;
  border-radius: 10px;
  border: 2px solid gray;
  font-weight: 700;
  min-height: 40px;
  font-family: "Roboto" !important;
  display: block;
  text-align: center;
}
a.button-style:focus {
  background: orange;
  border: 0px solid gray;
}

a {
  text-decoration: none;
}

select {
  width: 95%;
  padding: 10px;
  margin: 10px 5% 0px 5%;

  /* styling */
  background-color: white;
  border: thin solid rgb(56, 56, 66);
  border-radius: 4px;
  font: inherit;
  line-height: 1.5em;
  text-align: center;

  /* reset */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea {
  height: 30px;
  width: 95%;
  padding: 3px;
  border: 1px solid silver;
}

input {
  width: 95%;
  height: 30px;
  padding: 3px;
  border: 2px solid silver;
  border-radius: 4px;
  margin: 0 0 0 10px;
}

label {
  display: block;
  min-width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
}
.input-parent {
  min-width: 100%;
  padding: 10px;
  margin: 0 0 20px 0;
}

.input-parent:focus {
  background: orange;
}

article:focus {
  background: silver;
  padding: 5px;
}

div#intro {
  position: fixed;
  background: black;
  z-index: 100000;
  min-width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  animation-name: intro;
  animation-duration: 1s;
  animation-delay: 8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

div#intro img {
  width: 120px;
  height: auto;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -60px;
  animation-name: intro_img;
  animation-duration: 4s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#intro #version-box {
  position: absolute;
  bottom: 50px;
  height: 40px;
}

#intro #version-box kbd {
  border: 2px solid pink;
  box-shadow: 2px 2px pink;
  font-size: 0.6em;
  line-height: 0.85em;
  display: block;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 3px 5px;
  white-space: nowrap;
  color: white;
  width: fit-content;
  height: 20px;
}
article {
  min-width: 100%;
}

#start {
  min-width: 100%;
  overflow: scroll;
  padding: 20px;
}

#start article {
  margin: 0 0 10px 0;
  position: relative;
}

#start article.read {
  opacity: 0.6;
}

#start article.text .type-indicator {
  background: blue;
  width: 20px;
  height: 10px;
  position: absolute;
  right: 0px;
}

#start article.audio .type-indicator {
  background: rgb(130, 204, 45);
  width: 20px;
  height: 10px;
  position: absolute;
  right: 0px;
}

#start article.video .type-indicator {
  background: rgb(219, 13, 209);
  width: 20px;
  height: 10px;
  position: absolute;
  right: 0px;
}

#article article:focus {
  background: white;
}

#article time {
  margin: 0 0 10px 0;
}

@keyframes intro_img {
  0% {
    filter: hue-rotate(-0.25turn);
  }
  20% {
    filter: hue-rotate(-2.25turn);
  }

  40% {
    filter: hue-rotate(-0.65turn);
  }

  60% {
    filter: hue-rotate(-0.35turn);
  }

  100% {
    filter: hue-rotate(-1.65turn);
  }
}

@keyframes intro {
  from {
    display: block;
    opacity: 100;
  }
  to {
    display: none;
    opacity: 0;
  }
}

@keyframes up-and-down {
  10% {
    height: 30%;
  }

  30% {
    height: 100%;
  }

  60% {
    height: 50%;
  }

  80% {
    height: 75%;
  }

  100% {
    height: 60%;
  }
}

#KaiOSAd {
  height: 200px;
  width: 240px;
}

#KaiOSAds-Wrapper {
  padding: 0px;
}

#KaiOSAds-Wrapper iframe {
  width: 240px;
}

/*///////////////////////////
///TOAST////////////////*/

div#toast {
  position: fixed;
  height: auto;
  overflow: none;
  background: black;
  color: white;
  z-index: 10;
  min-width: 100%;
  padding: 5px;
  top: 0px;

  transition: all 0.5s ease-in-out;
  transform-origin: left top;
  transform: translate(0px, -100px);
}

div#side-toast {
  position: fixed;
  height: auto;
  overflow: none;
  background: orange;
  color: white;
  z-index: 10;
  padding: 8px;
  top: 70vh;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;

  transition: all 0.5s ease-in-out;
  transform-origin: left top;
  opacity: 0;
  max-width: 100vw;
}

div#side-toast img {
  width: 60px;
}

div.nickname {
  font-weight: bold;
}
/*/ //////////////////////////
///VIEWS////////////////*/

div#options {
  display: none;
  position: absolute;
  z-index: 4;
  top: 0;
  display: none;
  padding: 5px;
  height: 92vh;
  overflow: hidden;
  padding: 10px 0 0 0;
}

/*/////////////////
///BOTTOM BAR////
////////////////*/

div#bottom-bar {
  position: fixed;
  z-index: 2000;
  bottom: 30px;
  left: 0px;
  height: 18px;
  z-index: 6;
  background: none;
  min-width: 100vw;

  display: flex;
  justify-content: center; /* Horizontally center all child elements */
  align-items: center; /* Vertically center all child elements */
}

div#bottom-bar div#inner {
  position: relative;
}

div#bottom-bar div {
  background: none;
  color: white;
  padding: 2px;
  font-size: 0.8rem;
}

div#bottom-bar div.button-center img {
  width: 30px;
}

div#bottom-bar div.button-left {
  background: none;
  color: white;
  padding: 2px;
  width: 32%;
  display: flex;
  justify-content: flex-start;
}

div#bottom-bar div.button-left img {
  width: 30px;
}

div#bottom-bar div.button-right img {
  width: 30px;
}

div#bottom-bar div.button-right {
  background: none;
  color: white;
  padding: 2px;
  width: 32%;
  display: flex;
  justify-content: flex-end;
}

div#bottom-bar div.button-center {
  display: flex; /* Enable flexbox for the button-center div */
  justify-content: center; /* Horizontally center the image */
  align-items: center; /* Vertically center the image */
  background: none;
  color: white;
  padding: 2px;
  width: 32%;
}

div#bottom-bar div.button-center img {
  width: 30px;
}

/*/ ////////////////
///TOP-BAR///////*/

div#top-bar {
  position: fixed;
  z-index: 2000;
  top: 0px;
  left: 0px;
  height: 18px;
  z-index: 6;
  background: none;
  min-width: 100vw;

  display: flex;
  justify-content: center; /* Horizontally center all child elements */
  align-items: center; /* Vertically center all child elements */
}

div#top-bar div#inner {
  position: relative;
}

div#top-bar div {
  background: none;
  color: white;
  padding: 2px;
  font-size: 0.8rem;
}

div#top-bar div.button-center img {
  width: 30px;
}

div#top-bar div.button-left {
  background: none;
  color: white;
  padding: 2px;
  width: 32%;
  display: flex;
  justify-content: flex-start;
}

div#top-bar div.button-left img {
  width: 30px;
}

div#top-bar div.button-right img {
  width: 30px;
}

div#top-bar div.button-right {
  background: none;
  color: white;
  padding: 2px;
  width: 32%;
  display: flex;
  justify-content: flex-end;
}

div#top-bar div.button-center {
  display: flex; /* Enable flexbox for the button-center div */
  justify-content: center; /* Horizontally center the image */
  align-items: center; /* Vertically center the image */
  background: none;
  color: white;
  padding: 2px;
  width: 32%;
}

div#top-bar div.button-center img {
  width: 30px;
}

.loading-spinner {
  display: none;
  position: fixed;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;

  z-index: 5000000000000;
}
.loading-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(126, 11, 11);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(238, 27, 27) transparent transparent transparent;
}
.loading-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

video {
  max-width: 100%;
}
#video-container {
  max-width: 100%;
}

.video-player {
  max-width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 640px) {
  html,
  body {
    font-family: "Roboto" !important;
    font-weight: 400;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    line-height: 1.4rem;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    background: white;
  }

  body {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 0.9rem;
  }
  #app {
    position: relative;
    height: 100%;
    min-width: 100vw;
    width: 100vw;
    padding: 0;
  }
}
