div#qr-screen {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 200000;
  display: block;
  height: 100vh;
  width: 100vw;
  z-index: 2000000000000;
  display: none;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#corner-nw,
#corner-no,
#corner-so,
#corner-sw {
  border: #fff 6px solid;
  height: 30px;
  position: fixed;
  width: 30px;
}

#corner-nw {
  border-bottom: 0;
  border-right: 0;
  border-top-left-radius: 20px;
  left: 20px;
  top: 20px;
}

#corner-no {
  border-bottom: 0;
  border-left: 0;
  border-top-right-radius: 20px;
  right: 20px;
  top: 20px;
}

#corner-so {
  border-bottom-right-radius: 20px;
  border-left: 0;
  border-top: 0;
  bottom: 20px;
  right: 20px;
}

#corner-sw {
  border-bottom-left-radius: 20px;
  border-right: 0;
  border-top: 0;
  bottom: 20px;
  left: 20px;
}
