:root {
  --color-one: black;
  --color-two: yellow;
  --color-three: silver;
  --color-four: #beb9b9;
  --color-five: #d6e1e452;
  --color-seven: #65d81849;
  --color-eight: #2f52c430;
}

@font-face {
  font-family: Roboto;
  src: url("Roboto-Regular.ca197847.ttf");
}

*, :before, :after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
  scroll-behavior: smooth;
  hyphens: auto;
  border: 0;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none !important;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.debug {
  outline: 1px solid red;
}

html, body {
  background: #fff;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
  position: relative;
  overflow: hidden;
  font-family: Roboto !important;
}

#app {
  width: 50vw;
  min-width: 50vw;
  height: 100%;
  position: relative;
  overflow: scroll;
}

#wrapper {
  justify-content: center;
  align-items: flex-start;
  min-height: 90vh;
  max-height: 90vh;
  padding: 20px 0 0;
  display: flex;
  overflow: scroll;
}

h1 {
  font-size: 1rem;
}

h2 {
  width: 100%;
  font-size: 1.1rem;
}

h3 {
  font-size: 1rem;
}

label {
  font-weight: bold;
}

article img {
  width: 100%;
  height: auto;
  padding: 10px;
  display: block;
}

img[src=""], img[src=" "] {
  display: none;
}

button {
  color: #000;
  background: #fff;
  border: 2px solid gray;
  -moz-border-radius: 10px;
  border-radius: 10px;
  min-width: 93%;
  max-width: 90%;
  min-height: 40px;
  margin: 0 0 15px 5px;
  padding: 5px;
  font-size: 1rem;
  font-weight: 700;
  font-family: Roboto !important;
}

button:focus, button:hover {
  background: orange;
  border: 0 solid gray;
}

a.button-style {
  color: #000;
  text-align: center;
  background: #fff;
  border: 2px solid gray;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 95%;
  min-height: 40px;
  margin: 10px 0 15px;
  padding: 5px;
  font-size: 1rem;
  font-weight: 700;
  display: block;
  font-family: Roboto !important;
}

a.button-style:focus {
  background: orange;
  border: 0 solid gray;
}

a {
  text-decoration: none;
}

select {
  font: inherit;
  text-align: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: thin solid #383842;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 95%;
  margin: 10px 5% 0;
  padding: 10px;
  line-height: 1.5em;
}

textarea {
  border: 1px solid silver;
  width: 95%;
  height: 30px;
  padding: 3px;
}

input {
  border: 2px solid silver;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 95%;
  height: 30px;
  margin: 0 0 0 10px;
  padding: 3px;
}

label {
  text-align: center;
  min-width: 100%;
  margin: 0 0 10px;
  display: block;
}

.input-parent {
  min-width: 100%;
  margin: 0 0 20px;
  padding: 10px;
}

.input-parent:focus {
  background: orange;
}

article:focus {
  background: silver;
  padding: 5px;
}

div#intro {
  z-index: 100000;
  background: #000;
  min-width: 100vw;
  height: 100%;
  animation-name: intro;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 8s;
  animation-fill-mode: forwards;
  position: fixed;
  top: 0;
  left: 0;
}

div#intro img {
  width: 120px;
  height: auto;
  margin-left: -60px;
  animation-name: intro_img;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  position: absolute;
  top: 50px;
  left: 50%;
}

#intro #version-box {
  height: 40px;
  position: absolute;
  bottom: 50px;
}

#intro #version-box kbd {
  letter-spacing: .05em;
  white-space: nowrap;
  color: #fff;
  border: 2px solid pink;
  width: fit-content;
  height: 20px;
  padding: 3px 5px;
  font-size: .6em;
  font-weight: 600;
  line-height: .85em;
  display: block;
  box-shadow: 2px 2px pink;
}

article {
  min-width: 100%;
}

#start {
  min-width: 100%;
  padding: 20px;
  overflow: scroll;
}

#start article {
  margin: 0 0 10px;
  position: relative;
}

#start article.read {
  opacity: .6;
}

#start article.text .type-indicator {
  background: #00f;
  width: 20px;
  height: 10px;
  position: absolute;
  right: 0;
}

#start article.audio .type-indicator {
  background: #82cc2d;
  width: 20px;
  height: 10px;
  position: absolute;
  right: 0;
}

#start article.video .type-indicator {
  background: #db0dd1;
  width: 20px;
  height: 10px;
  position: absolute;
  right: 0;
}

#article article:focus {
  background: #fff;
}

@keyframes intro_img {
  0% {
    filter: hue-rotate(-.25turn);
  }

  20% {
    filter: hue-rotate(-2.25turn);
  }

  40% {
    filter: hue-rotate(-.65turn);
  }

  60% {
    filter: hue-rotate(-.35turn);
  }

  100% {
    filter: hue-rotate(-1.65turn);
  }
}

@keyframes intro {
  from {
    opacity: 100;
    display: block;
  }

  to {
    opacity: 0;
    display: none;
  }
}

@keyframes up-and-down {
  10% {
    height: 30%;
  }

  30% {
    height: 100%;
  }

  60% {
    height: 50%;
  }

  80% {
    height: 75%;
  }

  100% {
    height: 60%;
  }
}

#KaiOSAd {
  width: 240px;
  height: 200px;
}

#KaiOSAds-Wrapper {
  padding: 0;
}

#KaiOSAds-Wrapper iframe {
  width: 240px;
}

div#toast {
  overflow: none;
  color: #fff;
  z-index: 10;
  transform-origin: 0 0;
  background: #000;
  min-width: 100%;
  height: auto;
  padding: 5px;
  transition: all .5s ease-in-out;
  position: fixed;
  top: 0;
  transform: translate(0, -100px);
}

div#side-toast {
  overflow: none;
  color: #fff;
  z-index: 10;
  transform-origin: 0 0;
  opacity: 0;
  background: orange;
  -moz-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  max-width: 100vw;
  height: auto;
  padding: 8px;
  transition: all .5s ease-in-out;
  position: fixed;
  top: 70vh;
}

div#side-toast img {
  width: 60px;
}

div.nickname {
  font-weight: bold;
}

div#options {
  z-index: 4;
  height: 92vh;
  padding: 10px 0 0;
  display: none;
  position: absolute;
  top: 0;
  overflow: hidden;
}

div#bottom-bar {
  z-index: 2000;
  z-index: 6;
  background: none;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  height: 18px;
  display: flex;
  position: fixed;
  bottom: 30px;
  left: 0;
}

div#bottom-bar div#inner {
  position: relative;
}

div#bottom-bar div {
  color: #fff;
  background: none;
  padding: 2px;
  font-size: .8rem;
}

div#bottom-bar div.button-left {
  color: #fff;
  background: none;
  justify-content: flex-start;
  width: 32%;
  padding: 2px;
  display: flex;
}

div#bottom-bar div.button-left img, div#bottom-bar div.button-right img {
  width: 30px;
}

div#bottom-bar div.button-right {
  color: #fff;
  background: none;
  justify-content: flex-end;
  width: 32%;
  padding: 2px;
  display: flex;
}

div#bottom-bar div.button-center {
  color: #fff;
  background: none;
  justify-content: center;
  align-items: center;
  width: 32%;
  padding: 2px;
  display: flex;
}

div#bottom-bar div.button-center img {
  width: 30px;
}

div#top-bar {
  z-index: 2000;
  z-index: 6;
  background: none;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  height: 18px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

div#top-bar div#inner {
  position: relative;
}

div#top-bar div {
  color: #fff;
  background: none;
  padding: 2px;
  font-size: .8rem;
}

div#top-bar div.button-left {
  color: #fff;
  background: none;
  justify-content: flex-start;
  width: 32%;
  padding: 2px;
  display: flex;
}

div#top-bar div.button-left img, div#top-bar div.button-right img {
  width: 30px;
}

div#top-bar div.button-right {
  color: #fff;
  background: none;
  justify-content: flex-end;
  width: 32%;
  padding: 2px;
  display: flex;
}

div#top-bar div.button-center {
  color: #fff;
  background: none;
  justify-content: center;
  align-items: center;
  width: 32%;
  padding: 2px;
  display: flex;
}

div#top-bar div.button-center img {
  width: 30px;
}

.loading-spinner {
  z-index: 2147483647;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
}

.loading-spinner div {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 8px solid #0000;
  border-top-color: #ee1b1b;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin: 8px;
  animation: 1.2s cubic-bezier(.5, 0, .5, 1) infinite lds-ring;
  display: block;
  position: absolute;
}

.loading-spinner div:first-child {
  animation-delay: -.45s;
}

.loading-spinner div:nth-child(2) {
  animation-delay: -.3s;
}

.loading-spinner div:nth-child(3) {
  animation-delay: -.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

video, #video-container, .video-player {
  max-width: 100%;
}

@media screen and (width >= 0) and (width <= 640px) {
  body, h2, h3 {
    font-size: .9rem;
  }

  #app {
    width: 100vw;
    min-width: 100vw;
    height: 100%;
    padding: 0;
    position: relative;
  }
}
